<div class="section no-pad-bot " id="index-banner" ng-controller="missionandvisioncontroller">

    <div class="row ">
        <section class="">
            <div class="bg-filter sTop">
                <div class="container">
                    <div class="jumbotron trn v-center">
                        <h3>How to easily start developing website using Angular Material, AngularJs and ASP.NET MVC.</h3>
                        <br />
                        <div class="row">
                             <b>Why AngularJS?</b><br />
HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.
Alternatives.Other frameworks deal with HTML’s shortcomings by either abstracting away HTML, CSS, and/or JavaScript or by providing an imperative way for manipulating the DOM. Neither of these address the root problem that HTML was not designed for dynamic views.
Extensibility.AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs. Read on to find out how.
                            <br />
                            <a href="https://angularjs.org/">For More Click Here</a>
                        </div>
                        <br />
                        <div class="row">
                           <b>What is Angular Material?</b>
                            <br />
The Angular Material project is an implementation of Material Design in Angular.js. This project provides a set of reusable, well-tested, and accessible UI components based on the Material Design system.

Similar to the Polymer project's Paper elements collection, Angular Material is supported internally at Google by the Angular.js, Material Design UX and other product teams.
                            <br />
                            <a href="https://material.angularjs.org/latest/">For More Click Here</a>
                        </div>
                        <div class="row">
                           <b>What is ASP. NET MVC?</b>
                            <br />
                            The ASP.NET MVC is a web application framework developed by Microsoft, which implements the model–view–controller (MVC) pattern. It is open-source software, apart from the ASP.NET Web Forms component which is proprietary.

In the later versions of ASP.NET, ASP.NET MVC, ASP.NET Web API, and ASP.NET Web Pages (a platform using only Razor pages) will merge into a unified MVC 6.[3] The project is called ASP.NET vNext.
                            <br />
                            <a href="http://www.asp.net/mvc/">For More Click Here</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
