    <div id="footer" class="footer">
    <footer class="page-footer red accent-1">
        <div class="container">
            <div class="row">
                <div class="col l8 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of enginners working on this project like it's our part time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>

                </div>
                <div class="col l4 s12">
                    <h5 class="white-text center">Connect</h5>
                    <ul>
                        <!--<li><div class="center" href="#!"><a><i class="fa fa-facebook-official fa-2x"></i></a></div></li>
                        <li><div class="center" href="#!"><a><i class="fa fa-linkedin fa-2x"></i></a></div></li>
                        <li><div class="center" href="#!"><a><i class="fa fa-google-plus fa-2x"></i></a></div></li>
                        <li><div class="center" href="#!"><a><i class="fa fa-twitter fa-2x"></i></a></div></li>-->
                        <li>
                            <div class="row center" href="#!">
                                <div class="col l3">
                                    <a href="https://www.facebook.com/avi2k10"><i class="fa fa-facebook-official fa-3x white-text"></i></a>
                                </div>
                                <div class="col l3">
                                    <a href="https://www.linkedin.in"><i class="fa fa-linkedin fa-3x white-text"></i></a>
                                </div>
                                <div class="col l3">
                                    <a href="https://plus.google.com"><i class="fa fa-google-plus fa-3x white-text"></i></a>
                                </div>
                                <div class="col l3">
                                    <a href="https://www.twitter.com/avi_1992"><i class="fa fa-twitter fa-3x white-text"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2015-2016 TechQ, All rights reserved.
            </div>
        </div>
    </footer>
</div>