<div class="section no-pad-bot" id="index-banner" ng-controller="aboutuscontroller">
    <ul>
        <li class="current" style="width: 1349px;">
            <div class="container">
                <div class="row">
                    <div class="col s8 m6 l5 offset-m3 offset-s2 hide-on-large-only">
                        <img src="../../../image/Avinash.jpg" class="circle responsive-img">
                    </div>

                    <div class="col l7 m12 s8 offset-s2 animatedBox animatedBox-left animatedBox-list">
                        <h2 class="weight-100">About Us</h2>
                        <!-- Item -->
                        <div class="row">
                            <div class="col s10 m12 offset-s1 l12 animatedBox animatedBox-left">
                                <p class="non-fluid weight-300">
                                    My name is Avinash.<br />
                                    <small>Software Engineer,   
                                     Founder & CEO : TechQ</small>
                                    <br>
                                    <br> I love learning by experimenting with different techniques and always trying something new.
                                    <br>
                                    <br>My two passions have always been art and science and I love merging them to create beautiful things.
                                    <br>
                                    <br><a href="" class="blue-text weight-400">Check out my Gallery</a>
                                </p>

                                <br>
                                &nbsp;
                                <a class="btn no-smooth-scroll grey lighten-3 blue-text"><i class="mdi-navigation-arrow-forward right"></i>MORE</a>
                            </div>
                        </div>
                        <!-- End of Item -->
                    </div>
                    <div class="col l3 s3 hide-on-med-and-down animatedBox animatedBox-right">
                        <img src="../../../image/Avinash.jpg" class="circle responsive-img">
                    </div>

                </div>
                <div class="row">
                    <div class="col s8 m6 l5 offset-m3 offset-s2 hide-on-large-only">
                        <img src="../../../image/uday.jpg" class="circle responsive-img">
                    </div>

                    <div class="col l7 m12 s8 offset-s2 animatedBox animatedBox-left animatedBox-list">
                       <!-- <h2 class="weight-100">WHO I AM</h2>-->
                        <!-- Item -->
                        <div class="row">
                            <br /><br /><br /><br />
                            <div class="col s10 m12 offset-s1 l12 animatedBox animatedBox-left">
                                <p class="non-fluid weight-300">
                                    My name is Uday kiran.<br />
                                      <small>Software Engineer,    
                                     Co-Founder :TechQ</small>
                                    <br>
                                    <br> I love learning by experimenting with different techniques and always trying something new.
                                    <br>
                                    <br>My two passions have always been art and science and I love merging them to create beautiful things.
                                    <br>
                                    <br><a href="" class="blue-text weight-400">Check out my Gallery</a>
                                </p>

                                <br>
                                &nbsp;
                                <a class="btn no-smooth-scroll grey lighten-3 blue-text"><i class="mdi-navigation-arrow-forward right"></i>MORE</a>
                            </div>
                        </div>
                        <!-- End of Item -->
                    </div>
                    <div class="col l3 s3 hide-on-med-and-down animatedBox animatedBox-right">
                        <br />
                        <br />
                        <br />
                        <br /><br /><br />
                        <img src="../../../image/uday.jpg" class="circle responsive-img">
                    </div>

                </div>                
            </div>
        </li>
        <!--<li style="width: 1349px;">
            <div class="container">
                <h4 class="weight-100">MY BIOGRAPHY</h4>
                <div class="row">
                    <div class="col s12 l6 hide-on-med-and-down btn-inline">
                        <p class="non-fluid">
                        </p><div class="row">
                            <div class="col s8 m9">Discovered my second passion, which is Web Development and since then, I've learned lots of different languages and techniques.</div>
                            <div class="col s4 m3">
                                <h4 class="weight-100 text-center">2013</h4>
                                <h6 class="weight-100 text-center">JANUARY</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s8 m9">Started studying professional Web devlopment in Banglore.</div>
                            <div class="col s4 m3">
                                <h4 class="weight-100 text-center">2014</h4>
                                <h6 class="weight-100 text-center">JANUARY</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s8 m9">
                                Went on my adventure to the Banglore to study my <b>Bachelor of Science in Film</b> at <b>Full Sail University</b> which I completed.
                            </div>
                            <div class="col s4 m3">
                                <h4 class="weight-100 text-center">2015</h4>
                                <h6 class="weight-100 text-center">FEBRUARY</h6>
                            </div>
                        </div>
                        <p></p>
                    </div>
                    <div class="col s12 l6 hide-on-large-only btn-inline">
                        <p class="non-fluid">
                        </p><div class="row">
                            <div class="col s4 m3">
                                <h4 class="weight-100 text-center">2015</h4>
                                <h6 class="weight-100 text-center">JANUARY</h6>
                            </div>
                            <div class="col s8 m9">Discovered my second passion, which is Web Development and since then, I've learned lots of different languages and techniques.</div>
                        </div>
                        <div class="row">
                            <div class="col s4 m3">
                                <h4 class="weight-100 text-center">2012</h4>
                                <h6 class="weight-100 text-center">JANUARY</h6>
                            </div>
                            <div class="col s8 m9">Started studying professional photography in Banglore.</div>
                        </div>
                        <div class="row">
                            <div class="col s4 m3">
                                <h4 class="weight-100 text-center">2013</h4>
                                <h6 class="weight-100 text-center">FEBRUARY</h6>
                            </div>
                            <div class="col s8 m9">
                                Went on my adventure to the United States to study my <b>Bachelor of Science in Film</b> at <b>Full Banglore University</b> which I completed 22 months later.
                            </div>
                        </div>
                        <p></p>
                    </div>
                    <div class="col s12 l6 btn-inline">
                        <p class="non-fluid ">
                        </p><div class="row hide-on-med-and-down">
                            <div class="col s4 m3 ">
                                <h4 class="weight-100 text-center">2013</h4>
                                <h6 class="weight-100 text-center">DECEMBER</h6>
                            </div>
                            <div class="col s8 m9 ">Got my first manual camera and since then I've been practicing photography.</div>
                        </div>
                        <div class="row ">
                            <div class="col s4 m3 ">
                                <h4 class="weight-100 text-center">2014</h4>
                                <h6 class="weight-100 text-center">SEPTEMBER</h6>
                            </div>
                            <div class="col s8 m9 ">
                                Got my first client, which was Avinash and needed a food Photo Shoot.
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col s4 m3 ">
                                <h4 class="weight-100 text-center">2015</h4>
                                <h6 class="weight-100 text-center">JANUARY</h6>
                            </div>
                            <div class="col s8 m9 ">Released my first portfolio website so more people could check out my work.</div>
                        </div>
                        <p></p>
                    </div>
                    <a href=" " class="btn no-smooth-scroll"><i class="mdi-navigation-arrow-back left"></i>Back</a>
                </div>
            </div>
        </li>-->
    </ul>

</div>